<!-- 
    @Author: JJYDXFS
    @Date: 12 July 2021
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新闻 {{ DocID }}</title>
    <script src="static/js/jquery.min.js"></script>
    <style type="text/css">

        body{
            background: url("/static/img/logobg.png");
            background-color:transparent;
            background-repeat:no-repeat;
            background-size: 100%;
        }

        .top{
            margin-top: 5%;
        }

        .center{
            text-align: center;
        }

        .layout{
            width:80%;
            margin:0 auto;
        }

        .content{
            margin-top: 5%;
        }

    </style>

</head>
<body >
    <div class="center top">
        <h1>新闻 {{ DocID }}</h1>
    </div>
    <div class="layout content" id="content-box">
        <p>{{ content }}</p>
    </div>
</body>
</html>