<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档 {{ DocID }}</title>
    <script src="static/js/jquery.min.js"></script>
    <style type="text/css">

        .layout{
            width:80%;
            margin:0 auto;
        }

        .content{
            margin-top: 5%;
        }

    </style>

</head>
<body>
    <div class="layout content" id="content-box">
        <p>{{ content }}</p>
    </div>
</body>
</html>